body {
  background-color: #1B2B34;
  color: #65737E;
  font-family: 'Source Code Pro', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #5FB3B3;
}

.center-column {
  font-size: 1rem;
  margin: 10rem auto;
  max-width: 40rem;
  padding: 2rem 2rem;
  position: center;
  resize: none;
  white-space: pre-wrap;
}

.correct {
  color: #C0C5CE;
}

.error {
  color: #EC5f67;
}

.cursor {
  background-color: #C0C5CE;
  color: #1B2B34;
}

.wpm {
  color: #99C794;
  stroke: #99C794;
}

.accuracy {
  color: #5FB3B3;
  stroke: #5FB3B3;
}

.left {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.right {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

svg {
  display: block;
  fill: none;
  margin: auto;
  max-width: 40rem;
  padding: 2rem 0;
  stroke-width: 2px;
}

.charts {
  padding: 2rem 0;
}
