body {
  background-color: #f3f3f3;
  color: #949494;
  font-family: Nitti, monospace;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #4271ae;
}

.center-column {
  font-size: 1rem;
  margin: 10rem auto;
  max-width: 40rem;
  padding: 2rem 2rem;
  position: center;
  resize: none;
  white-space: pre-wrap;
}

.correct {
  color: #4d4d4c;
}

.error {
  color: #df0000;
  font-weight: 500;
}

.cursor {
  background-color: #4d4d4c;
  color: #f3f3f3;
}

.wpm {
  color: #8959a8;
  stroke: #8959a8;
}

.accuracy {
  color: #d75f00;
  stroke: #d75f00;
}

.left {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.right {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

svg {
  display: block;
  fill: none;
  margin: auto;
  max-width: 40rem;
  padding: 2rem 0;
  stroke-width: 3px;
}

.charts {
  padding: 2rem 0;
}
